<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-4">Información de Contacto</h2>
      <div class="mb-3 info-section">
        <h4>Dirección</h4>
        <p><strong>Calle La Riega, Nº11, Bajo</strong></p>
      </div>
      <div class="mb-3 info-section">
        <h4>Correo Electrónico</h4>
        <p><strong>{{emailAddress}}</strong></p>
      </div>
      <div class="mb-3 info-section">
        <h4>Teléfono</h4>
        <p><strong>671 477 718 / 659 479 272</strong></p>
      </div>
      <div class="mb-3 info-section">
        <h4>Redes Sociales y Enlaces de Interés</h4>
        <a href="https://www.facebook.com/PincarOcasion" target="_blank">
          <img src="assets/images/facebook.png" alt="Facebook" class="img-fluid" style="width: 40px;">
        </a>
        <a href="https://www.coches.net/concesionario/pincarocasion/" target="_blank" style="margin-left: 10px;">
          <img src="assets/images/cochesnet.png" alt="Coches.Net" class="img-fluid" style="width: 40px;">
        </a>
      </div>
    </div>
  </div>
</div>
