<body>
  <div class="sobre-nosotros-container">
    <div class="text-center">
        <img [src]="imageUrl" alt="Sobre Nosotros" class="img-fluid mb-4" />
        <h2 class="mb-3">Sobre Nosotros</h2>
        <p class="presentacion">
            En [Nombre de tu empresa], nos apasiona conectar a las personas con su próximo coche. 
            Somos una empresa de compra-venta de coches comprometida en ofrecerte una experiencia 
            excepcional y una selección variada de vehículos de calidad. 
            Nuestro equipo de expertos trabaja arduamente para asegurarse de que cada coche en 
            nuestro inventario cumpla con nuestros altos estándares de calidad y seguridad. 
            Creemos que cada cliente merece el coche perfecto, y estamos aquí para ayudarte a 
            encontrarlo. ¡Explora nuestra colección y descubre la diferencia de comprar con nosotros!
        </p>
    </div>
  </div>
</body>

