<div class="politica-cookies">
  <div style="background-color: black; color: white; padding: 20px">
    <h2>Política de Cookies</h2>
    <p>
      En cumplimiento de la Ley 34/2002, de 11 de julio, de Servicios de la
      Sociedad de la Información y Comercio Electrónico le informamos de que
      este sitio web, al igual que la mayoría de los sitios en Internet, usa
      Cookies para mejorar y optimizar la experiencia del usuario. A
      continuación encontrará información detallada sobre qué son las “Cookies”,
      qué tipología utiliza este sitio web, cómo cambiar la configuración de sus
      cookies, y qué ocurre si deshabilita las Cookies.
    </p>

    <p>¿Qué son las Cookies?</p>

    <p>
      Una cookie es un pequeño archivo que se descarga en el equipo del usuario
      con la finalidad de almacenar datos, los cuales podrán ser actualizados y
      recuperados por la entidad responsable de su instalación.
    </p>
    <p>¿Cómo puede configurar sus Cookies?</p>

    <p>
      Al navegar y continuar en nuestro sitio web estará consintiendo el uso de
      las Cookies en las condiciones contenidas en la presente Política de
      Cookies. Usted como usuario tiene la posibilidad de ejercer su derecho a
      bloquear, eliminar y rechazar el uso de Cookies, en todo momento,
      modificando las opciones de su navegador
    </p>

    <p>Por ejemplo:</p>

    <p>
      Internet Explorer: Herramientas > Opciones de Internet > Privacidad >
      Configuración. Para más información, puede consultar el soporte de
      Microsoft o la Ayuda del navegador.
    </p>

    <p>
      Mozilla Firefox: Herramientas > Opciones > Privacidad > Historial >
      Configuración Personalizada. Para más información, puede consultar el
      soporte de Mozilla o la Ayuda del navegador.
    </p>

    <p>
      Google Chrome: Configuración > Mostrar opciones avanzadas > Privacidad ->
      Configuración de contenido. Para más información, puede consultar el
      soporte de Google o la Ayuda del navegador.
    </p>

    <p>
      Safari: Preferencias > Seguridad. Para más información, puede consultar el
      soporte de Apple o la Ayuda del navegador.
    </p>

    <p>
      Opera: Configuración > Opciones > Avanzado > Cookies Para más información,
      puede consultar el soporte de Opera o la Ayuda del navegador.
    </p>

    <p>
      Si usa otro navegador distinto a los anteriores, consulte su política de
      instalación, uso y bloqueo de cookies.
    </p>

    <p>¿Qué ocurre si se deshabilitan las Cookies?</p>

    <p>
      Algunas funcionalidades de los Servicios o áreas de este sitio web podrían
      no funcionar correctamente.
    </p>

    <p>¿Actualizamos nuestra política de Cookies?</p>

    <p>
      Es posible que actualicemos la política de Cookies de nuestra página web,
      por ello, le recomendamos revisar esta política cada vez que acceda a
      nuestro sitio web con el objetivo de estar adecuadamente informado sobre
      cómo y para qué usamos las Cookies.
    </p>
  </div>
</div>
