/* Contenedor principal del sidebar */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
}

/* Botón de menú en pantallas pequeñas */
.toggle-button {
  display: none;
  background-color: #403d3d;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin: 0;
}

/* Sidebar lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  /* Oculta la sidebar por defecto */
  width: 250px;
  height: 100vh;
  background: linear-gradient(135deg, rgba(192, 190, 190, 0.8), rgba(230, 229, 229, 0.6));
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Distribuye el contenido */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 1001;
}

/* Información de contacto y redes sociales en la parte inferior */
.contact-info,
.social-icons {
  margin-top: auto;
  /* Empuja hacia abajo */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  /* Justo debajo del sidebar */
}

/* Sidebar visible cuando la clase show-menu está activa */
.sidebar.show-menu {
  left: 0;
}

/* Logo dentro del menú */
.logo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Contenedor de los enlaces de navegación */
.nav-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-item a {
  font-family: 'New Amsterdam', cursive;
  display: block;
  padding: 10px 15px;
  color: #403d3d;
  text-decoration: none;
  font-size: 24px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
  border-radius: 5px;
  transition: all 0.3s ease;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-item a:hover {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
  transform: translateX(5px);
}

/* Información de contacto */
.contact-info {
  margin-top: auto;
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
  color: #040404;
}

.contact-info p {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a img {
  width: 24px;
  height: auto;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.social-icons a:hover img {
  opacity: 1;
}

/* Enlace del aviso legal */
.aviso-legal a {
  color: #808080;
  text-decoration: none;
}

.aviso-legal a:hover {
  color: #000000;
  text-decoration: underline;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
  .sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .toggle-button {
    display: block;
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: #403d3d;
    color: white;
    border: none;
    text-align: left;
    z-index: 1001;
  }

  .sidebar {
    display: block;
    position: fixed;
    top: 50px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 50px);
    transition: left 0.3s ease;
    background: linear-gradient(135deg, rgb(192, 190, 190), rgb(230, 229, 229));
    z-index: 999;
  }

  .sidebar.show-menu {
    left: 0;
    overflow-y: auto;
    z-index: 1002;
  }

  .overlay {
    z-index: 998;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
  .toggle-button {
    display: none;
  }

  .sidebar {
    left: 0;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact-info {
    align-items: flex-end;
  }

  .social-icons {
    align-items: flex-end;
  }
}

.back-button {
  display: block;
  /* Asegúrate de que se muestre */
  background-color: #403d3d;
  /* Color de fondo */
  color: white;
  /* Color del texto */
  border: none;
  /* Sin borde */
  padding: 10px;
  /* Espaciado interno */
  font-size: 18px;
  /* Tamaño de fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  width: 100%;
  /* Ocupar todo el ancho */
  text-align: left;
  /* Alinear texto a la izquierda */
}

.back-button:hover {
  background-color: #5a5454;
  /* Color al pasar el mouse */
}